<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">My Spotify</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index.html" ng-click="userCtrl.logout()">Sair</a>
        </li>
    </ul>
</nav>
<a class="btn btn-primary btn-block jumbotron" href="/adicionarArtista">Artistas</a>
<a class="btn btn-primary btn-block jumbotron" href="/adicionarMusica">Músicas</a>
<a class="btn btn-primary btn-block jumbotron" href="/playlists" ui-sref-active="active">Playlists</a>
<a class="btn btn-primary btn-block jumbotron" href="/favoritos" ui-sref-active="active">Favoritos</a>

