<div class="jumbotron">
    <div ng-show="playlists.length > 0">
        <h5 class="centerMusica">Playlists Salvas</h5>
        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
            </tr>
            <tr ng-class="{selecionada: playlist.selecionada}" ng-repeat="playlist in playlists">
                <td>
                    <input type="checkbox" ng-model="playlist.selecionada">
                </td>
                <td><a href="/playlist" ng-click="getInfoPlaylist(playlist)"> {{playlist.name}}</td>
            </tr>
        </table>
    </div>
    <a class="btn btn-outline-primary btn-block" href="/criarPlaylist" ui-sref-active="active">Criar nova PlayList</a>
    <button class="btn btn-outline-danger btn-block" ng-click="removerPlaylist(playlists)">
        Remover Playlist</button>
</div>